<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cleaning Rota</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            Chores
        </header>
        <!-- <div >
            <div class="cleanerContainer"> 
                <div class="cleanerName">
                    Faith
                </div>
                <div class="cleanerContent">
                    <div>
                        <p id="faithLastWeek" class="cleaningTasks"></p>
                    </div>
                    <div>
                        <p id="faithThisWeek" class="cleaningTasks"></p>
                    </div>
                    <div>
                        <p id="faithNextWeek" class="cleaningTasks"><br></p>
                    </div>
                </div>
            </div> 
        <div class="cleanerContainer"> 
            <div class="cleanerName">
                Jack
            </div>
            <div id="jackContent" class="cleanerContent">
                <div>
                    <p id="jackLastWeek" class="cleaningTasks"></p>
                </div>
                <div>
                    <p id="jackThisWeek" class="cleaningTasks"></p>
                </div>
                <div>
                    <p id="jackNextWeek" class="cleaningTasks"><br></p>
                </div>
            </div>
        </div>  -->

        <script src="javascripts/main.js"></script>