<% include _header %>

<% tasks.forEach(function(task) { %>
    <div class="cleanerContainer"> 
        <div class="cleanerName">
            <%= task.cleaner%>
        </div>
        <div class="cleanerContent">
            <p> <%= task.room%> </p>
            <button class="completeButton" onclick="javascripts/update_status.js">Done &#10003;</button>
        </div>
    </div> 
<% }) %>

<% include _footer %>