<% include _header %>

<% tasks.forEach(function(task) { %>
    <% var _id = task._id %>
    <div class="cleanerContainer"> 
        <div class="cleanerName">
            <%= task.cleaner%>
        </div>
        <div class="cleanerContent">
            <p> <%= task.room%>, <%= task.completionStatus %> </p>
            <button class="completeButton" onclick="location.href='/task/<%= task._id %>'">Done &#10003;</button>
        </div>
    </div> 
<% }) %>

<% include _footer %>